/*Font Imports*/ /*Text type does not go in quotes*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /*sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap'); /*sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap'); /*sans-serif*/
@import url('https://db.onlinewebfonts.com/c/dd4320757ff990fa3d23662f08aa6f3a?family=Central+W01+Bold');


/*Variables*/
:root {
    --mainfont: "Central W01 Bold", sans-serif;
}

p {
    font-family: 'Dosis', sans-serif;
}


h1 {
    font-family: 'Fugaz One', sans-serif;
    color: royalblue;
}


a#inactive {
    color: rgb(82, 81, 81)
}

a#inactive:hover {
    color: black;
}

a.navbar-brand {
    font-family: var(--mainfont);
}

#shine-anim-nav {
    color: black;
    background: linear-gradient(90deg, white, white, white);
    background-repeat: no-repeat;
    background-size: 25%;
    animation: text-shine 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.69);
    
}

#titlehomeng {
    animation: logo-enter 2s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes text-shine {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}

@keyframes logo-enter {
    0% {
        transform: translateX(-50%);
        transform: translateY(-50%);
        rotate: -45deg;
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
        rotate: 0deg;
    }
}